inject-workspace-packages=true
public-hoist-pattern[]=*drizzle-orm*
supportedArchitectures.os[]=linux
supportedArchitectures.os[]=current
supportedArchitectures.cpu[]=x64
supportedArchitectures.cpu[]=current
supportedArchitectures.libc[]=musl
supportedArchitectures.libc[]=default