services:
  # Base Infrastructure
#  db:
#    ports:
#      - "127.0.0.1:5432:5432"

#  directus:
#    ports:
#      - "127.0.0.1:8055:8055"

  # Secure Outbound Proxy
#  secure-proxy:
#    image: ubuntu/squid
#    volumes:
#      - ./infra/proxy/squid.conf:/etc/squid/squid.conf
#    ports:
#      - "3128:3128"
#    networks:
#      public-ingress:
#        aliases:
#          - secure-proxy

  # Identity Service
  identity:
    ports:
      - "127.0.0.1:3002:3002"
    environment:
      - DIRECTUS_URL=https://admin.salvemundi.nl
    volumes:
      - ./services/identity:/usr/src/app
    command: uvicorn main:app --host 0.0.0.0 --port 3002 --reload
    networks:
      - service-mesh
      - data-plane
      - public-ingress

  # Finance Service
  finance:
    dns:
      - 8.8.8.8
      - 1.1.1.1
    ports:
      - "127.0.0.1:3001:3001"
    environment:
      - DIRECTUS_URL=https://admin.salvemundi.nl
      - DIRECTUS_ADMIN_TOKEN=tnDrdaB_OkA5u3GrLTUt_CJqLzTUy_TN
    volumes:
      - ./services/finance:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run dev
    networks:
      - service-mesh
      - data-plane
      - public-ingress

  # Email Service
  email:
    ports:
      - "127.0.0.1:3003:3003"
    environment:
      - DIRECTUS_URL=https://admin.salvemundi.nl
    networks:
      - service-mesh
      - public-ingress

  # Notifications Service
  notifications:
    ports:
      - "127.0.0.1:3004:3004"
    environment:
      - DIRECTUS_URL=https://admin.salvemundi.nl
    networks:
      - service-mesh
      - public-ingress

  # Web/Frontend
  web:
    environment:
      - FINANCE_SERVICE_URL=http://finance:3001
      - IDENTITY_SERVICE_URL=http://identity:3002
      - EMAIL_SERVICE_URL=http://email:3003
      - NOTIFICATION_SERVICE_URL=http://notifications:3004
      - INTERNAL_DIRECTUS_URL=https://admin.salvemundi.nl
    networks:
      - service-mesh
      - public-ingress
