{{#> layout headerTitle="REIS UPDATE"}}
    <div class="status-badge info">Reis Update</div>
    <p>Beste {{firstName}},</p>
    
    <div style="white-space: pre-wrap; margin-top: 15px; margin-bottom: 25px; line-height: 1.6;">{{message}}</div>

    <p>Heb je vragen over de reis? Stuur dan gerust een mailtje naar de Reiscommissie via <a href="mailto:reis@salvemundi.nl">reis@salvemundi.nl</a>.</p>

    <p>Met vriendelijke groet,<br><br>
    <strong>Salve Mundi</strong><br>
    Rachelsmolen 1<br>
    5612 MA Eindhoven</p>
{{/layout}}
