{{#> layout headerTitle="NIEUWE VACATURE TER BEOORDELING"}}
    <div class="status-badge info">Actie vereist</div>
    <p>Beste {{firstName}},</p>

    <p>Er staat een nieuwe, geverifieerde vacature klaar voor beoordeling in de Bijbanenbank:</p>

    <div class="details">
        <p><strong>Titel:</strong> {{title}}</p>
        <p><strong>Bedrijf:</strong> {{company}}</p>
    </div>

    <p style="text-align: center;">
        <a href="{{adminUrl}}" class="button">Beoordeel in Beheer</a>
    </p>

    <p style="margin-top: 30px;">Met vriendelijke groet,<br><br>
    <strong>Salve Mundi</strong><br>
    Rachelsmolen 1<br>
    5612 MA Eindhoven</p>
{{/layout}}
