{{#> layout headerTitle="BEVESTIG JE VACATURE"}}
    <div class="status-badge info">Bevestig je e-mailadres</div>
    <p>Beste {{firstName}},</p>

    <p>Bedankt voor het aanmelden van de vacature <strong>&quot;{{title}}&quot;</strong> bij de Bijbanenbank van <strong>Salve Mundi</strong>.</p>

    <p>Bevestig eerst je e-mailadres, zodat wij weten dat deze aanmelding echt van jou komt. Daarna komt de vacature in de beoordelingswachtrij van onze commissie te staan.</p>

    <p style="text-align: center;">
        <a href="{{confirmationUrl}}" class="button">E-mailadres Bevestigen</a>
    </p>

    <p>Deze link is 48 uur geldig. Heb je deze aanmelding niet gedaan? Dan kun je deze e-mail negeren.</p>

    <p style="margin-top: 30px;">Met vriendelijke groet,<br><br>
    <strong>Salve Mundi</strong><br>
    Rachelsmolen 1<br>
    5612 MA Eindhoven</p>
{{/layout}}
