/* app/globals.css */

@import "tailwindcss";


@theme {
    --color-samu: #132A40;
    --color-paars: #5a3761;
    --color-oranje: #FF6542;
    --color-geel: #FFCE1B;
    --color-beige: #F0EBD8;
}

:root {
    --background: #F0EBD8;
    --foreground: #171717;
}



body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: Poppins, sans-serif;
}