services:
  membership-api:
    image: ghcr.io/salvemundi/membership-api:${TAG}
    container_name: membership-api-${TAG:-dev}
    restart: unless-stopped
    networks:
      - proxy-network
    environment:
      - MS_GRAPH_TENANT_ID=${MS_GRAPH_TENANT_ID}
      - MS_GRAPH_CLIENT_ID=${MS_GRAPH_CLIENT_ID}
      - MS_GRAPH_CLIENT_SECRET=${MS_GRAPH_CLIENT_SECRET}
      - MS_GRAPH_DOMAIN=${MS_GRAPH_DOMAIN}
      - INTERNAL_API_KEY=${INTERNAL_API_KEY}

networks:
  proxy-network:
    external: true