services:
  server-monitor:
    image: ghcr.io/salvemundi/server-monitor:${TAG:-latest}
    container_name: server-monitor-${TAG:-latest}
    restart: always
    user: root
    # Cruciaal: hiermee ziet de container alle processen op de server (zoals 'top')
    pid: "host"
    volumes:
      - ./config.yaml:/app/config.yaml:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /:/hostfs:ro
    environment:
      - TZ=Europe/Amsterdam
      - CONFIG_PATH=/app/config.yaml
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - proxy-network

networks:
  proxy-network:
    external: true
