services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    volumes:
      - vaultwarden-data:/data/
    
    environment:
      - DOMAIN=https://vaultwarden.salvemundi.nl
      - SIGNUPS_ALLOWED=false
      # Haal het admin wachtwoord uit het .env bestand
      - ADMIN_TOKEN=${ADMIN_TOKEN}
      # Websockets inschakelen is aanbevolen voor live-sync
      - WEBSOCKET_ENABLED=true
volumes:
  vaultwarden-data:
networks:
  default:
    name: proxy-network
    external: true
