services:
  secure-proxy:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: secure-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    environment:
      - DIRECTUS_PROXY_TARGET=https://admin.salvemundi.nl
    volumes:
      - ./nginx.template.conf:/etc/nginx/nginx.template.conf:ro
      - ./entrypoint.sh:/entrypoint.sh:ro
    entrypoint: /entrypoint.sh
    networks:
      - proxy-network

networks:
  proxy-network:
    driver: bridge