name: Deploy Microservices
on:
  push:
    branches: [ "main" ]
    paths: [ "services/**", "infra/**" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Deploy Changed Services via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /opt/salvemundi/prod
            git pull origin main
            docker compose up -d --build --no-deps finance email identity notifications monitor
